@font-face {
	font-family: "DIN Regular";
	src: url(../fonts/DINNextCYR-Regular.otf) format("truetype");
}

body {
	background: #ff6347;
	font-family: "DIN Regular", sans-serif;

	h1 {
		background: #f00;
	}
}

.d-flex {
	display: flex;
	align-items: center;
}

.icon {
	margin: 0 10px;
	width: 90px;
	height: auto;

}

.spotify {
	height: 100px;
	width: auto;
}

div img {
	height: 100px;
	margin: 0 10px;
}
